/* *{
    border:1px solid black;
} */


body {
    height: 4000px;
    max-width:2560px;
    background-color: #116466;
}
.c-body {
    max-width: 1920px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color: #D1e8E2;
}

.header-text {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #2c3531;
    display:flex;
    justify-content:space-between;
    color: white;
    height: 80px;

}

.title-text{
    width:0;
    flex-grow:1;
    transition: flex-grow 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 15px;
    font-family: 'Michroma', sans-serif;
    white-space: nowrap;
    font-size: 25px;

}

.main-nav{
    display:block;

}
.m-body {
    margin: 30px;
    display:block;
    padding: 25px 0;
}

.nav-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding:0 25px;
    max-height: 250px;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/ 
  
}

.nav-buttons a{
    /* min-width: 140px; */
    height: 80px;
    border: 1px black solid;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: white;
    flex-grow:1;
    font-size:1.5em;
    text-decoration: none;
      
}

.cloned-nav a{
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
    flex-grow:1;
    color: white;
    border: 1px black solid;
    margin: 5px;
    height:50px;
    font-size:1.5em;
    font-family: 'Roboto', sans-serif;
    
}

.nav-buttons a:hover, .cloned-nav a:hover {
    filter:brightness(70%);
    cursor:pointer;
    
}

.cloned-nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow:1;
    justify-content: space-between;
    margin:0 10px;
    
}

#cloned-flex {
    width:0;
    flex-grow:1;
    transition: flex-grow 1000ms;
    display: flex;
    align-items:stretch;
    justify-content: space-between;
}

@keyframes btn-sticky-animation {
    from   {opacity:0}
    to { opacity:1}
}

@keyframes btn-sticky-animation-reverse {
    from   {opacity:1}
    to { opacity:0}
    }

@media only screen and (min-width: 575px){
    .hero {
        background-image: url("./img/header_img/WhatsApp\ Image\ 2021-01-21\ at\ 15.27.03\ \(2\).jpeg");
        height:400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media only screen and (min-width: 767px){
    .nav-buttons{
        flex-direction:row;
        align-items: center;
        flex-wrap: nowrap;
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
    }

    .m-body {
        margin:30px 60px;
    }

    .title-text{
        font-size: min(2.5vw, 36px);
    }
}

.footer{
    height: 50px;
}