body{
    height:100%;
}

.header-text{
    position: unset;
}


  

.scaling-svg-container {
    position: relative; 
    width: 100%;
    padding-bottom: 100%;  /*padding hack to change svg size */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.scaling-svg {
    padding: 0 0 0 15%;
    position: absolute; 
    width: 100%; /*prevents svg overflow */
    height: 100%; /*prevents svg overflow */
}     


.outline{
    fill:rgb(0, 0, 0);
}

.svg-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
}

.svg-gallery img {
    margin: 5px;
    width: fit-content;
    
}

.target-prot:hover {
    filter:brightness(80%);
    cursor:pointer;

}

#border{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.grid-area {    
    padding-top:10px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr 4fr;
    grid-template-areas:
    "selection-btn selection-btn"
    "zoom-in-btn zoom-out-btn"
    "colouring colouring"
    "svg-area svg-area";
}

.colour-selection {
    grid-area: colouring;
    /* border: 1px solid black; */

}

.svg-location {
    grid-area: svg-area;
    /* border: 1px solid black; */
}

.btn-selection {
    grid-area: selection-btn;
    /* border: 1px solid black; */
}

.btn-zoom-clear{
    grid-area: zoom-in-btn;
    /* border: 1px solid black; */
}

.paint-white {
    color:white;
    margin-right:10px;
    margin-top:10px;
}

.paint-white:hover{
    color:white;
}

@media only screen and (min-width: 942px){
    .grid-area{
        grid-template-columns: auto auto 4fr;
        grid-template-rows: auto auto 3fr;
        grid-template-areas:
        "selection-btn selection-btn svg-area"
        "zoom-in-btn  zoom-out-btn svg-area"
        "colouring colouring svg-area";
    }

    .svg-gallery {
        justify-content: left;
    }
}
