/* *{
    border: 1px solid black;
} */
body{
    margin:50px;
}
.colouring-area{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}

.scaling-svg-container {
    position: relative; 
    height:0; 
    width: 100%;
    padding: 0;
    padding-bottom: 100%; 
    background-color: white;
}
.scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top:0;    
}

/* svg {
    height:auto;
} */

.outline{
    fill:rgb(0, 0, 0);
}

@media only screen and (min-width: 767px){
    .colouring-area{
        display: flex;
        flex-direction:row;
    }
}

.svg-gallery {
    display: flex;
    align-items:center;
    justify-content:flex-start;
    border:1px solid white;
    width:100%;

}

.target-prot {
    width:min-content;
    /* height: 100%; */
    /* border:1px solid black; */
    padding: 10px;
}

.target-prot:hover {
    filter:brightness(80%);
    cursor:pointer;


}